 @mixin flex ($direction, $justify, $align) {

  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  
 }
     .tituloprincipal {
      @include flex(flex, center, center);
      
      font-size: 50px;
      }
  
      .titulobox {
        font-size: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
        size: bold;
      }
  
      .parrafo {
        @include flex (flex, center, center);
        font-size: 30px;
        display: flex;
        margin: 10px;

      }

  
  
      .box {
        border: 2px;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
        flex: 1;
        
      }
  
      .boxazul {
        background-color: rgb(96, 126, 170);
      }
  
      .box1 {
        margin-left: 100px;
     
      }
  
      .box3 {
        margin-right: 100px;
      
      }
  
      .backgroundform {
        background-color: whitesmoke;
  
      }
  
     .aliform {
      padding-top: 30px;
      padding-left: 50px;
      padding-bottom: 50px;
      padding-right: 100px;

    
      font-size: 20px;
     }

     .display {
      display: flex;

     }
  

   

     .alinear {
      align-items: flex-end;
      align-content: flex-end;
     }
     .map {
      width: 100%;
     }
  
     .icon {
      display: flex;
      align-items: center;
      align-content: center;
      size: 50px;
     }
     /* MOBILE LAST */

@media (max-width: 992px) {

  .tituloprincipal {
    align-items: center;
    align-content: center;
  }


}

footer{

  background-color: rgb(238, 238, 238);

}



@media (max-width: 960px) {

  .tituloprincipal {
    align-items: center;
    align-content: center;
  }


}


footer{

  background-color: rgb(238, 238, 238);


  }
  

@media (max-width: 897px) {

    .imagen {
    
      width: 1px;
     }
    
  }
  
@media (max-width: 768px) {

  .imagen {
   
    width: 1px;
   }
  
}

@media (max-width: 700px) {

  .display {
    display: block;


  .imagen {
   
    width: 1px;
   }

   .box {
    display: block;
    border: 2px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:  rgb(96, 126, 170);
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .boxazul {
    background-color: rgb(96, 126, 170);
  }

  .box1 {
    margin-left: 20px;
    margin-right: 20px;
 
  }

  .box3 {
    margin-left: 20px;
    margin-right: 20px;
  
  }

  .titulobox {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }

  .aliform {
    padding-top: 0px;
    font-size: 20px;
   }
  
}

@media (max-width: 576px) {


   
  .display {
    display: block;


  .imagen {
   
    width: 1px;
   }

   .box {
    display: block;
    border: 2px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:  rgb(96, 126, 170);
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .boxazul {
    background-color: rgb(96, 126, 170);
  }

  .box1 {
    margin-left: 20px;
    margin-right: 20px;
 
  }

  .box3 {
    margin-left: 20px;
    margin-right: 20px;
  
  }

  .titulobox {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }

  .aliform {
    padding-top: 0px;
    font-size: 20px;
   }
  
}

}

@media screen and (max-width: 480px) {
   
  .display {
    display: block;


  .imagen {
   
    width: 1px;
   }

   .box {
    display: block;
    border: 2px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:  rgb(96, 126, 170);
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .boxazul {
    background-color: rgb(96, 126, 170);
  }

  .box1 {
    margin-left: 20px;
    margin-right: 20px;
 
  }

  .box3 {
    margin-left: 20px;
    margin-right: 20px;
  
  }

  .titulobox {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }

  .tituloprincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .alineacion {
    justify-content: center;
    align-items: center;
  }

  .aliform {
    padding-top: 0px;
    font-size: 20px;
   }
  
}

}

}