     .tituloprincipal {
        display: flex;
        justify-content: center;
        font-size: 50px;
      }
  
      .titulobox {
        font-size: 40px;
        justify-content: center;
        align-items: center;
      }
  
      .parrafo {
        display: flex;
        justify-content: center;
        font-size: 30px;
        justify-content: center;
        align-items: center;
      }
  
      .box {
        border: 2px;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
        flex: 1;
        
      }
  
      .boxazul {
        background-color: rgb(96, 126, 170);
      }
  
      .box1 {
        margin-left: 100px;
     
      }
  
      .box3 {
        margin-right: 100px;
      
      }
  
      .backgroundform {
        background-color: rgb(96, 126, 170);
  
      }
  
     .aliform {
      padding-top: 30px;
      font-size: 20px;
     }

     .display {
      display: flex;

     }
  
     .imagen {
      width: 600px;
     }
     .map {
      width: 100%;
     }
  
     /* MOBILE LAST */

@media (max-width: 992px) {

  .tituloprincipal {
    align-items: center;
    align-content: center;
  }


}

footer{

  background-color: rgb(238, 238, 238);

}



@media (max-width: 960px) {

  .tituloprincipal {
    align-items: center;
    align-content: center;
  }


}

footer{

  background-color: rgb(238, 238, 238);


  }
  

@media (max-width: 897px) {

    .imagen {
    
      width: 1px;
     }
    
  }
  
@media (max-width: 768px) {

  .imagen {
   
    width: 1px;
   }
  
}

@media (max-width: 576px) {


    body {

      display: inline-block;
   
  }


.margin {
  margin-bottom: 0;
}


  }
  

@media screen and (max-width: 480px) {

  .courses__content {

    grid-template-columns: 1fr;

  }

.margin {
  margin-bottom: 0;
}
 
  }





  
  
  