
    .tituloprincipal {
        display: flex;
        justify-content: center;
        font-size: 50px;
      }
  
      .titulobox {
        font-size: 40px;
        justify-content: center;
        align-items: center;
      }
  
      .parrafo {
        display: flex;
        justify-content: center;
        font-size: 30px;
        justify-content: center;
        align-items: center;
      }
  
      .box {
        border: 2px;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
        flex: 1;
        
      }
  
      .boxazul {
        background-color: rgb(96, 126, 170);
      }
  
      .box1 {
        margin-left: 100px;
     
      }
  
      .box3 {
        margin-right: 100px;
      
      }
  
      .backgroundform {
        background-color: rgb(96, 126, 170);
  
      }
  
     .aliform {
      padding-left: 300px;
      padding-top: 30px;
      font-size: 20px;
     }
  
     .imagen {
      width: 600px;
     }
     .map {
      width: 100%;
     }
  
  
  