body{
  margin: 5px;
}
    
.margin{
  margin-bottom: 0%;
}
    
    .centrotexto {

      display: flex;
      background-color: rgb(189, 56, 56);
      color: white;
      justify-content: center;
      margin-bottom: 0;
      
      
    }

    @mixin flex ($direction, $justify, $align) {

      display: flex;
      flex-direction: $direction;
      justify-content: $justify;
      align-items: $align;
      
     }

.imagenPrincipal {
    height: 90vh;
    background-image: url(../imagenes/repuestoss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include flex(flex, center, center);
    flex-direction: column;
    padding-inline: 200px;
   
    h2 {
    background-color: rgba(32, 32, 133, 0.042);
    color: white;
    border-radius: 10px;
    font-size: 60px;
    font-weight: bold; 
  
  }

  }

  .seccion {
    display: flex;
   
  }

.organizacion {
    width: 100%;
  }
  
.organizacion1 {
  
    background-color: rgb(185, 185, 185);
  
  }
  
.organizacion2 {
  
    background-color: rgb(28, 56, 121);
    color: white;
  
  }

  
.par {
    margin-bottom: 0;
    padding-bottom: 0;
   }

   h4 {

    @include flex(flex, center, center);
  
   }

   .rotate-center {
    -webkit-animation:rotate-center .6s ease-in-out both;
    animation:rotate-center .6s ease-in-out both;
  }


@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

 /* MOBILE LAST */

 @media (max-width: 992px) {
  
  .division {
    padding: 30px;
    width: auto;
  
  }
  
  }
  
  /* styling del formulario*/
  
  .display {
    display: inline-block;
  }
  /* Styling footer*/
  
  footer{
  
    background-color: rgb(238, 238, 238);
  
  }
  
  
  
  
  
  @media (max-width: 960px) {
    .seccion {
      display: block;
    
    }
  
  
    }
  
  
  
  
  @media (max-width: 768px) {
  
    
    body {
  
      display: inline;
   
  }
  
  .imagenPrincipal {
  
    width: 800px;
   
        
    }
    
    .seccion {
      display: block;
    
    }
  
  }
  
  @media (max-width: 576px) {
  
  
      body {
  
        display: inline-block;
     
    }
  
    
  .seccion {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
   
  }
  
  .margin {
    margin-bottom: 0;
  }
  
  .imagenPrincipal {
  
    width: 589px;
        
    }
  
  
    }
    
  
  @media screen and (max-width: 480px) {

  .seccion {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
   
  }
  
  .margin {
    margin-bottom: 0;
  }
  
  .imagenPrincipal {
  
    width: 199px;
    background-position: center;
    flex-direction: column;
    text-align: center;
   
        
    }
  
    .aliform {
      display: block;
  
     }
  
     .imagen {
      display: inline-block;
    
     }
  
    
    }
  
  
  


  