@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

.colorfondonavegador {
  background-color: rgb(28, 56, 121);
}

.imagenPrincipal {
  height: 90vh;
  background-image: url(../imagenes/repuestoss.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 200px;
}
.imagenPrincipal h2 {
  background-color: rgba(32, 32, 133, 0.042);
  color: white;
  border-radius: 10px;
  font-size: 60px;
  font-weight: bold;
}

.seccion {
  display: flex;
}

.organizacion {
  width: 100%;
}

.organizacion1 {
  background-color: rgb(185, 185, 185);
}

.organizacion2 {
  background-color: rgb(28, 56, 121);
  color: white;
}

.par {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* MOBILE LAST */
@media (max-width: 992px) {
  .division {
    padding: 30px;
    width: auto;
  }
}
/* styling del formulario*/
.display {
  display: inline-block;
}

/* Styling footer*/
footer {
  background-color: rgb(238, 238, 238);
}

@media (max-width: 960px) {
  .seccion {
    display: block;
  }
}
@media (max-width: 768px) {
  body {
    display: inline;
  }
  .imagenPrincipal {
    width: 800px;
  }
  .seccion {
    display: block;
  }
}
@media (max-width: 576px) {
  body {
    display: inline-block;
  }
  .seccion {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .margin {
    margin-bottom: 0;
  }
  .imagenPrincipal {
    width: 589px;
  }
}
@media screen and (max-width: 480px) {
  .seccion {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .margin {
    margin-bottom: 0;
  }
  .imagenPrincipal {
    width: 199px;
    background-position: center;
    flex-direction: column;
    text-align: center;
  }
  .aliform {
    display: block;
  }
  .imagen {
    display: inline-block;
  }
}
.titulo {
  color: rgb(28, 56, 121);
  font-size: 60px;
  font-weight: bold;
}

.card {
  background-color: rgb(96, 126, 170);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
}
.card__title {
  font-size: 20px;
  margin-bottom: 20px;
}
.card__description {
  margin-bottom: 40px;
}
.card__link {
  background-color: #22c55e;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: #e2e8f0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.card__header {
  position: relative;
}
.card__header-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.card__header-tag {
  padding: 8px;
  color: #fff;
  background-color: rgba(178, 6, 0, 0.5);
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}
.card__header-tag--strong {
  text-transform: uppercase;
  font-weight: bold;
}

/* Contenido de cursos */
.courses {
  margin-top: 60px;
  padding: 0 20px;
}
.courses__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
}
.courses__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.bodyyy {
  background-image: url(../imagenes/repuestoss.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cardform {
  background-color: rgb(96, 126, 170);
  padding: 20px;
  border-radius: 20px;
}
.cardform__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.backgroundproducts {
  background-color: whitesmoke;
}

/* MOBILE LAST */
@media (max-width: 992px) {
  .courses__content {
    grid-template-columns: repeat 2, 1fr;
  }
  .estructura__contenido {
    gap: 50px;
  }
  .division {
    padding: 30px;
    width: auto;
  }
}
/* Styling footer*/
footer {
  background-color: rgb(238, 238, 238);
}

@media (max-width: 960px) {
  .courses__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .seccion {
    display: block;
  }
}
@media (max-width: 768px) {
  .courses__content {
    grid-template-columns: repeat(2, 1fr);
  }
  body {
    display: inline;
  }
}
@media (max-width: 576px) {
  body {
    display: inline-block;
  }
  .margin {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .courses__content {
    grid-template-columns: 1fr;
  }
  .margin {
    margin-bottom: 0;
  }
}
.tituloprincipal {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.titulobox {
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.parrafo {
  display: flex;
  justify-content: center;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.box {
  border: 2px;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  flex: 1;
}

.boxazul {
  background-color: rgb(96, 126, 170);
}

.box1 {
  margin-left: 100px;
}

.box3 {
  margin-right: 100px;
}

.backgroundform {
  background-color: rgb(96, 126, 170);
}

.aliform {
  padding-left: 300px;
  padding-top: 30px;
  font-size: 20px;
}

.imagen {
  width: 600px;
}

.map {
  width: 100%;
}/*# sourceMappingURL=estilos.css.map */