
  
  /* formulario */

  .main {
    background-image: url(./imagenes/crescimento-da-industria.webp);
  }
  
  .cardform {
    background-color: rgb(96, 126, 170);
    padding: 20px;
    border-radius: 20px
  }
  
  .tittle {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  
  }
  
  .cardform__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    }
  
  /* MOBILE LAST */

@media (max-width: 992px) {

  .courses__content {
    grid-template-columns: repeat (2, 1fr);
  }

.estructura__contenido {
  gap: 50px;

}

.division {
  padding: 30px;
  width: auto;

}

}

/* styling del formulario*/

.display {
  display: inline-block;
}
/* Styling footer*/

footer{

  background-color: rgb(238, 238, 238);

}

 /* MOBILE LAST */

 @media (max-width: 992px) {

  .courses__content {
    grid-template-columns: repeat (2, 1fr);
  }

.estructura__contenido {
  gap: 50px;

}

.division {
  padding: 30px;
  width: auto;

}

}


@media (max-width: 768px) {

  .courses__content {
    grid-template-columns: repeat(2, 1fr);
 
  }

  
  body {

    display: inline;
 
}

}

@media (max-width: 576px) {


    body {

      display: inline-block;
   
  }
  

@media screen and (max-width: 480px) {

  .courses__content {

    grid-template-columns: 1fr;

  }
}


}