
/* styling page index */
.seccion {
  display: flex;
 
}

.organizacion {
  width: 100%;
}

.organizacion1 {

  background-color: rgb(185, 185, 185);

}

.organizacion2 {

  background-color: rgb(28, 56, 121);
  color: white;

}

/* styling page productos */

/* cards */

.backgroundproducts {
  background-color: whitesmoke;
}


  /* LINEAS */
  .courses {
    margin-top: 60px;
    padding: 0 20px;
  }
  
  .courses__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
  }
  
  .courses__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .bodyyy {
    background-image: url(../imagenes/repuestoss.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  
  /* formulario */

  .main {
    background-image: url(./imagenes/crescimento-da-industria.webp);
  }
  
  .cardform {
    background-color: rgb(96, 126, 170);
    padding: 20px;
    border-radius: 20px
  }
  
  .title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  
  }
  
  .cardform__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    }
  
  /* MOBILE LAST */

@media (max-width: 992px) {

  .courses__content {
    grid-template-columns: repeat (2, 1fr);
  }

.estructura__contenido {
  gap: 50px;

}

.division {
  padding: 30px;
  width: auto;

}

}

/* styling del formulario*/

.display {
  display: inline-block;
}
/* Styling footer*/

footer{

  background-color: rgb(238, 238, 238);

}

@media (max-width: 768px) {

  .courses__content {
    grid-template-columns: repeat(2, 1fr);
 
  }

  
  body {

    display: inline;
 
}

}

@media (max-width: 576px) {


    body {

      display: inline-block;
   
  }
  

@media screen and (max-width: 480px) {

  .courses__content {

    grid-template-columns: 1fr;

  }
}


}